/Tecnicatura3Java/Lección07/JavaBeans/nbproject/private/
/Tecnicatura3Java/Lección07/JavaBeans/build/
/Tecnicatura3Java/Lección08/ManejoExcepciones1/nbproject/private/
/Tecnicatura3Java/Lección08/ManejoExcepciones1/build/
